<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart {{basketTotal |  currency:'TRY' }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="bag-remove-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
